<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.mytwitter.acitivity" android:versionCode="1"
	android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name="com.main.acitivity.LoginActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name="com.main.acitivity.StudentActivity" android:theme="@android:style/Theme.Dialog" />


		<activity android:name="com.main.acitivity.TeacherActivity" android:theme="@android:style/Theme.Dialog" />

		<activity android:name="com.main.acitivity.Maininterface"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

		<activity android:name="com.main.acitivity.CornerListView" android:theme="@android:style/Theme.Dialog" />

		<activity android:name="com.main.acitivity.SelectMenu"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />



		<activity android:name="com.main.acitivity.MobileSign"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />



		<activity android:name="com.announcement.acitivity.Announcement"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />


		<activity android:name="com.announcement.acitivity.Schoolnews"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />


		<activity android:name="com.announcement.acitivity.Classnotice"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />


		<activity android:name="com.announcement.acitivity.Schedule"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />


		<activity android:name="com.announcement.acitivity.Telephone"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

		<activity 
       	    android:name="com.message.acitivity.HomeActivity" 
       	    android:theme="@android:style/Theme.NoTitleBar.Fullscreen">   
       	</activity>
       	
		<activity 
       	    android:name="com.message.acitivity.MainTabActivity" 
       	    android:theme="@android:style/Theme.NoTitleBar.Fullscreen">   
       	</activity>
    
		<activity 
       	    android:name="com.message.acitivity.MoreActivity" 
       	    android:theme="@android:style/Theme.NoTitleBar.Fullscreen">   
       	</activity>
       	<activity 
       	    android:name="com.message.acitivity.msgSend" 
       	    android:theme="@android:style/Theme.NoTitleBar.Fullscreen">   
       	</activity>
       	<activity 
       	    android:name="com.message.acitivity.MyInfoActivity" 
       	    android:theme="@android:style/Theme.NoTitleBar.Fullscreen">   
       	</activity>
       	<activity 
       	    android:name="com.message.acitivity.NewsActivity" 
       	    android:theme="@android:style/Theme.NoTitleBar.Fullscreen">   
       	</activity>
       	<activity 
       	    android:name="com.message.acitivity.SearchActivity" 
       	    android:theme="@android:style/Theme.NoTitleBar.Fullscreen">   
       	</activity>
       	<activity 
       	    android:name="com.resource.acitivity.Upload" 
       	    android:theme="@android:style/Theme.NoTitleBar.Fullscreen">   
       	</activity>
       	 	<activity 
       	    android:name="com.resource.acitivity.zxtj" 
       	    android:theme="@android:style/Theme.NoTitleBar.Fullscreen">   
       	</activity>
       	       	<activity 
       	    android:name="com.course.funtion.MainActivity" 
       	    android:theme="@android:style/Theme.NoTitleBar.Fullscreen">   
       	</activity>
       	<activity 
       	    android:name="com.course.funtion.course_activity" 
       	    android:theme="@android:style/Theme.NoTitleBar.Fullscreen">   
       	</activity>
       	<activity 
       	    android:name="com.course.funtion.course_new_activity" 
       	    android:theme="@android:style/Theme.NoTitleBar.Fullscreen">   
       	</activity>
       	<activity 
       	    android:name="com.course.funtion.course_set_activity" 
       	    android:theme="@android:style/Theme.NoTitleBar.Fullscreen">   
       	</activity>
       	<activity 
       	    android:name="com.course.funtion.diary_activity" 
       	    android:theme="@android:style/Theme.NoTitleBar.Fullscreen">   
       	</activity>
       	<activity 
       	    android:name="com.course.funtion.help_activity" 
       	    android:theme="@android:style/Theme.NoTitleBar.Fullscreen">   
       	</activity>
       	<activity 
       	    android:name="com.course.funtion.score_activity" 
       	    android:theme="@android:style/Theme.NoTitleBar.Fullscreen">   
       	</activity>
         	<activity 
       	    android:name="com.course.funtion.DiaryEditActivity" 
       	    android:theme="@android:style/Theme.NoTitleBar.Fullscreen">   
       	</activity>     	
	</application>
	<uses-sdk android:minSdkVersion="8" />
</manifest> 